@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'tomy soft';
    src: url(./fonts/tomy-soft/MADE\ Tommy\ Soft\ Bold\ Outline\ PERSONAL\ USE.otf);
}

*,
*::before,
*::after{
    box-sizing: border-box;
    
    scroll-behavior: smooth;
}
body{
    font-family: poppins, 'Trebuchet MS';
    margin: 0;
    background: #010101;
    color: #eee;
}

header{
    width: 1200px;
    /* max-width: 90%; */
    /* grid-template-columns: 5px 1fr 50px;
    grid-template-rows: 50px; */
    width: 100%;
    top: 0;
    padding: 1rem 1.2rem ;
    display: grid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    font-size: 14px;
    backdrop-filter: blur(10px);
}
header .logo{
    font-weight: bold;
}
header .menu{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 12px;
    font-weight: 500;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #eee;
}
li a:hover{
    font-weight: 600;
}

/* Slider */
.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 15%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    bottom: 25%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 600;
}
.slider .list .item .content p:nth-child(3){
 font-size: 15px;
}
.slider .list .item .content h2{
    font-size: 60px;
    font-family: 'tomy soft';
    margin: 0;
}
.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }    
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: .5s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    width: 40px;
    height: 40px;
    font-family: monospace;
    border-radius: 5px;
    font-size: x-large;
}
.arrows button:hover{
    background: white;
    color: #000;
}
.thumbnail{
    position: absolute;
    bottom: 20px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 120px;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: auto;
    
    transition: .4s ease-in;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 70px;
    height: 110px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: absolute;
    font-size: smaller;
    inset: auto 10px 10px 10px;
    font-weight: 600;
    text-shadow: #000 2px 2px 2px;
}
.thumbnail .item:hover{
    transform: scale(1.5);
    filter: brightness(1.2);
    z-index: 100;
    transition: .8s;
}

.thumbnail:hover{
    height: 150px;    
    align-items: center;
}

@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 40px;
    }
    .slider .list .item .content p:nth-child(3){
        font-size: 12px;
    }
    .arrows{
        top: 10%;
    }
}

/* ichaa */
.tentang{
    background: linear-gradient(to bottom, black, rgb(175, 175, 255));
    color: whitesmoke;
    margin: 0;
    padding: 1rem;
    font-size: 12px;
    text-align: justify;
    position: relative;
}
.tentang .denganFoto{
    display: flex;
    justify-content: space-between;
    padding: 0;
    transform: translateY(30px);
    opacity: 0.2;
    animation: showP .5s .3s ease-in-out 1 forwards;
}
.tentang .denganFoto p{
    width: 60% ;
    margin: 0;
}
.tentang .denganFoto .foto1{
    height: 120px;
    width: 40%;
    background: url(./image/cantik-kali.jpg) center;
    background-size: cover;
    border-radius: 10px;
    margin-left: .7rem;
    filter: blur(10px);
    opacity: 0;
    animation: showFoto .5s .3s ease-in-out 1 forwards;
    animation-timeline: view(90% auto);
}
.tentang .denganFoto .foto2{
    height: 120px;
    width: 40%;
    background: url(./image/joyful.jpg) center;
    background-size: cover;
    border-radius: 10px;
    margin-right: .7rem;
    align-self: center;
    filter: blur(2px);
    opacity: 0.2;
    animation: showFoto .5s .7s ease-in-out 1 forwards;
    animation-timeline: view(90% auto);
}
@keyframes showFoto{
    2%{
        transform: translateX(0);
        opacity: .4;
        filter: blur(0);
    }
    10%{
        opacity: 1;
    }
    100%{
       transform: translateX(0);
        opacity: 1;
        filter: blur(0); 
    }
}
@keyframes showP{
    0%{
        transform: translateY(30px);
        filter: blur(20px);
    }
    5%{
        transform: translateX(0);
        opacity: .5;
        filter: blur(0);
    }
    15%{
        opacity: 1;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
        filter: blur(0);
    }
}
.denganFoto p.p_foto2{
    opacity: 0;
    animation: showP .5s .4s ease-in-out 1 forwards;
}

.tentang .cerita h2,
.tentang .cerita p:nth-child(1),
.tentang .cerita p:nth-child(2),
.tentang .cerita p:nth-child(3),
.tentang .cerita p:nth-child(4),
.tentang .cerita p:nth-child(5),
.tentang .cerita p:nth-child(6),
.tentang .cerita p:nth-child(7),
.tentang .cerita p:nth-child(8),
.tentang .cerita p:nth-child(9),
.tentang .cerita p:nth-child(10),
.tentang .cerita p:nth-child(11),
.tentang .cerita p:nth-child(12),
.tentang .cerita p:nth-child(13) {
    opacity: 0;
    animation: showP .5s .3s ease-in-out 1 forwards;
    animation-timeline: view(70% auto);
}

.toggle {
    /* animation-delay: 4.1s; */
    flex-direction: column;
    text-align: center;
}
.btn{
    border-style: none;
    padding: 5px 12px;
    border-radius: 15px;
    background: transparent;
    border: 2px solid whitesmoke;
    color: white;
    cursor: pointer;
}
.hidden{
    display: none;
}
.pesan-tersembunyi{
    position: relative;
    transition:  1s showpesan;
}
.pesan-tersembunyi span{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    position: absolute;
    background: linear-gradient(to right, #bcc4fd, #fed8d8, #bcc4fd);
    text-align: center;
    align-content: center;
    color: #515151;
    transition:  1s showpesan;
}

.pesan-tersembunyi span.span-active{
    opacity: 0;
    transition: 1s;
}
/* pesan kesan */
.pesan{
    background: linear-gradient(to bottom, rgb(175, 175, 255), rgb(228, 244, 228));
    padding: 1rem; 
    font-size: 14px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.pesan span{
    text-align: center;
}
.pesan form{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.139);
    background: linear-gradient(to top, rgb(175, 175, 255), rgb(228, 244, 228));
    margin-bottom: 20px;
}
form span{
    font-size: 12px;
    color: #515151;
}
form textarea{
    background: whitesmoke;
    outline: none;
    border: 1px solid rgb(136, 255, 123);
    border-radius: 5px;
    padding: 5px 7px;
    font-size: 12px;
    width: 100%;
    min-height: 60px;
    align-content: flex-start;
}
form button{
    border-radius: 12px;
    background: rgb(178, 178, 250);
    outline: none;
    border-style: none;
    padding: 6px;
    color: #eee;
    margin-top: .5rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.194);
    width: 100%;
    cursor: pointer;
}
form div{
    margin-top: .5rem;
    width: 100%;
}